<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h3>Gracias por su mensaje</h3>
  <div style="width: 20%; margin: 50px auto">
    <form>
    </div>
      <button type="button" class="btn btn-warning" style="width: 50%" id="greetingsButton">volver al home</button>
    </form>
  </div>
  <script src="js/main.js"></script>
</body>
</html>