<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
  <title>HOME</title>
</head>
<body>
  <div class="home2">
  <h1 class="titulo">STAR</h1>
  <h1 class="titulo2">WARS</h1>
</div>
<script src="js/controllers/home.js"></script>
</body>
</html>