body {
  background-image: url(../img/back.jpg);
  color: white;
}
main {
  padding-top: 40px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.logo {
  display: inline-block;
  margin: 20px 15px 0 15px;
}

#main-logo {
  float: left;
  margin-right: 15px;
}
.brand-name {
  color: #fff !important;
}
#navbar {
  float: right;
}
#jquery-logo {
  width: 122px;
}
#bootstrap-logo {
  width: 54px;
}
#sass-logo {
  width: 62px;
}
#yeoman-logo {
  width: 75px;
}
#npm-logo {
  width: 70px;
}
#grunt-logo {
  width: 63px;
}
#bower-logo {
  width: 63px;
}
#compass-logo {
  width: 63px;
}
.cols-margin {
  margin-top: 42px;
}
.gray-text {
  color: #a5a5a5;
}
.docs-btn {
  background-color: #bc24d9;
  border-color: #8d1ba2;
  width: 300px;
  height: 72px;
  font-size: 26px;
  margin-top: 27px;
  line-height: 2em;

  &:hover,
  &:active,
  &:focus {
    background-color: #8d1ba2 !important;
    border-color: #8d1ba2 !important;
  }
}
