@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,700);

/*  para los h */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:200,400,700);

/* font-family: 'Open Sans', sans-serif;  para los parrafos*/

/* GENERALS */

.cleaner {
  clear: both;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', Sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-family: 'Raleway', sans-serif;
}
h3 {
  font-family: 'Raleway', sans-serif;
}

/* HEADER */

header {
  padding: 30px 0;
  height: 90px;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 600;
  background-color: white;
  box-shadow: 0 0 10px rgba(228, 226, 231, 0.5);
}
nav {
  float: right;
  height: 30px;
}
ul {
  list-style: none;
  text-transform: capitalize;
  margin: 0;
  padding: 5px 0 5px;
}
.logo {
  width: 153px;
  float: left;
}
nav li {
  display: inline-block;
  margin-left: 50px;
}
header article nav a {
  color: #333;
}
/* nav ul li a:hover {
  background-color: rgba(228, 226, 231, 0.9);
  box-shadow: 0 0 0 25px rgba(228, 226, 231, 0.9);
} */

/* CONTENT */

.contenedor-inicial {
  min-height: 900px;
  background: url(../images/indexbanner-bg3.jpg) no-repeat center top scroll;
  margin-top: 90px;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
.responsive760 {
  float: left;
}
.auxiliar {
  float: left;
}
.main-title {
  color: #fff;
  font-size: 40px;
  margin: 280px 0 0;
  display: inline-block;
}
.main-title + p {
  color: #fff;
  font-size: 18px;
  width: 45%;
  line-height: 37px;
}
.buscador {
  position: relative;
  margin-top: 245px;
}
.buscador input[type=text] {
  width: 80%;
  height: 90px;
  border: solid 1px #ccc;
  font-family: inherit;
  font-size: 20px;
  padding: 0 30px;
}
.buscador button {
  width: 20%;
  height: 90px;
  background-color: rgba(0, 171, 240, 1);
  color: white;
  font-family: inherit;
  font-size: 20px;
  border: none;
  padding: 0 30px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
}
.servicios-destacados {
  margin-top: 150px;
}
.servicios-destacados article {
  text-align: center;
  width: 25%;
  float: left;
}
.servicios-destacados article h3 {
  margin-top: 30px;
}
.scaleButtonsSmall {
  transform: scale(0);
  /* transition: transform 1000ms ease-in;
  -webkit-transition: transform 1000ms ease-in; */
}
/* .servicios-destacados article:hover img {
  transform: rotate(360deg) scale(1.2);
  -ms-transform: rotate(360deg) scale(1.2);
  -webkit-transform: rotate(360deg) scale(1.2);
  box-shadow: 0 0 12px black;
  border-radius: 50%;
} */

.scaleButtons {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transition: transform 1000ms ease-in;
  -webkit-transition: transform 1000ms ease-in;
}
.caracteristicas {
  float: left;
  width: 30%;
}
.caracteristicas article {
  margin-top: 30px;
}
.caracteristicas h3 {
  padding-top: 14px;
}
.caract-izq article {
  position: relative;
  text-align: right;
  padding-right: 70px;
}
.caract-izq article img {
  position: absolute;
  right: 0;
  top: 0;
}
.caract-der article {
  position: relative;
  text-align: left;
  padding-left: 70px;
}
.caract-der article img {
  position: absolute;
  left: 0;
  top: 0;
}
.imagen-mitad {
  width: 30%;
  float: left;
  margin: 0 5%;
}
.imagen-mitad img {
  width: 100%;
}
.subtitle {
  font-size: 40px;
  text-align: center;
  margin: 80px 0 10px;
}
.subtitle + p {
  font-size: 20px;
  text-align: center;
  color: rgba(138, 124, 147, 1);
  margin-bottom: 70px;
}
.contenedor-secundario {
  background: url(../images/pricing-bg.jpg) no-repeat center top;
  margin-top: -80px;
}
.sub-dos {
  margin: 0px 0 20px;
  padding-top: 250px;
}
.cuadros {
  width: 20%;
  float: left;
  opacity: 0;
  text-align: center;
  margin: 80px 2.5% 120px;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: white;
  box-shadow: 0 0 6px rgba(228, 226, 231, 0.9);
}
.cuadros label button {
  transition: transform 200ms ease-in;
  -webkit-transition: transform 200ms ease-in;
}
/* .cuadros:hover label button{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
} */
/* .cuadros:hover{
	box-shadow: 0 0 30px black;
} */
.precio {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  height: 50px;
}
.cuadros h4 {
  margin: 0;
}
.precio sup {
  font-size: 20px;
  height: 20px;
  margin-top: 0;
}
.periodo {
  color: rgba(138, 124, 147, 1);
  margin-top: 10px;
  font-weight: normal;
  margin-bottom: 20px;
}
.cuadros p {
  margin-top: 10px;
  font-size: 15px;
}
.precios div h3 {
  font-size: 18px;
  margin-top: 40px;
}
.line {
  border: solid rgba(201, 201, 201, 0.4) 0.5px;
  width: 85%;
  margin-left: 7.5%;
  margin-bottom: 10px;
}
.parrafo-der {
  float: right;
  margin-right: 15%;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
}
.parrafo-izq {
  float: left;
  margin-left: 15%;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#yellow {
  color: rgba(249, 214, 76, 1);
}
#blue {
  color: rgba(103, 214, 255, 1);
}
#red {
  color: rgba(247, 95, 75, 1);
}
#orange {
  color: rgba(255, 147, 89, 1);
}
.seleccionar {
  background-color: rgba(0, 171, 240, 1);
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 75%;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 3px;
  margin-top: 20px;
}

/* FOOTER */

.footer-top {
  height: 250px;
  margin: 0;
  background-color: #233141;
  text-align: center;
}
.footer-bottom {
  height: 100px;
  margin: 0;
  background-color: #151d26;
  color: #d6dfef;
}
.nav-footer {
  padding: 35px 0 35px;
}
.nav-footer ul li a {
  color: #d6dfef;
}
/* .nav-footer ul li a:hover {
  background-color: rgba(228, 226, 231, 0.9);
  box-shadow: 0 0 0 25px rgba(228, 226, 231, 0.9);
  color: #151d26;
} */
#registro {
  float: left;
  padding: 35px 0 35px 0;
  height: 30;
}
#customers h3 {
  height: 50px;
  font-size: 30px;
  font-weight: normal;
  color: #d6dfef;
  font-family: 'Raleway', sans-serif;
  padding-top: 100px;
}
#numero-de-clientes {
  font-family: arial;
  font-size: 40px;
  font-weight: bold;
  color: rgba(0, 171, 240, 1);
}
@-webkit-keyframes monito {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -2000px;
  }
}
@keyframes monito {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -2000px;
  }
}

.monito {
  height: 40px;
  width: 40px;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  background: url("../images/monkey.png");
  -webkit-animation: monito 1200ms steps(50, end) infinite;
  animation: monito 1200ms steps(50, end) infinite;
}

/* CONTACT */

.contenedor-inicial-contact {
  min-height: 688px;
  background: url(../images/indexbanner-bg2.jpg) no-repeat center top scroll;
  margin-top: 90px;
}
.contenedor-secundario-contact {
  text-align: center;
}
.contenedor-secundario-contact h2 {
  font-family: 'Raleway', sans-serif;
  margin-top: 100px;
  margin-bottom: 50px;
  font-size: 40px;
}
.contenedor-secundario-contact p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 50px;
}
.datos-de-contacto {
  margin: 50px 10% 0;
}
.datos-de-contacto input[type="text"] {
  display: block;
  width: 95%;
  height: 50px;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 20px 2.5%;
  font-family: inherit;
  font-size: 20px;
  padding: 0 30px;
}
.name-sub-sub {
  float: left;
  width: 50%;
}
.datos-de-contacto textarea {
  float: right;
  width: 45%;
  height: 190px;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 20px 2.5%;
  font-family: inherit;
  font-size: 20px;
  padding: 14px 30px;
}
.datos-de-contacto button {
  width: 200px;
  height: 50px;
  background-color: rgba(0, 171, 240, 1);
  color: white;
  font-family: inherit;
  font-size: 20px;
  border: none;
  padding: 0 30px;
  border-radius: 5px;
  text-align: center;
  margin: 30px 0 50px;
}
@media (max-width: 860px) {
  .wrapper {
    width: 96%;
  }
  .logo {
    width: 18%;
  }
  header nav {
    display: inline-block;
    float: none;
    margin-left: 17%;
  }
  .main-title + p {
    font-size: 16px;
  }
  .servicios-destacados article {
    width: 50%;
    margin-bottom: 50px;
  }
  .servicios-destacados h3 {
    font-size: 16px;
  }
  .servicios-destacados p {
    font-size: 12px;
  }
  .caracteristicas h3 {
    font-size: 16px;
  }
  .caracteristicas p {
    font-size: 12px;
  }
  .caracteristicas article {
    min-height: 140px;
  }
  .contenedor-secundario {
    margin-top: -80px;
    background-size: auto 300px;
  }
  .cuadros {
    width: 45%;
    margin: 20px 2.5% 20px;
  }
  .sub-dos {
    padding-top: 120px;
    margin-bottom: 20px;
  }
  .sub-dos + p {
    margin-bottom: 100px;
  }
  .footer-bottom {
    height: 150px;
    text-align: center;
  }
  .footer-bottom article {
    text-align: center;
  }
  #registro {
    float: none;
  }
  .auxiliar {
    width: 350px;
    margin: 0 auto;
  }
  .monito {
    display: none;
  }
  .footer-bottom nav {
    float: none;
    margin: 0 auto;
    padding: 0;
  }
  nav li {
    margin-left: 25px;
    margin-right: 25px;
  }
  .datos-de-contacto {
    margin: 50px 0 0;
  }
}
@media (max-width: 640px) {
  .responsive760 {
    float: none;
  }
  .auxiliar {
    float: none;
  }
  header {
    position: static;
  }
  .logo {
    float: none;
    width: 100%;
    text-align: center;
  }
  .wrapper768 {
    text-align: center;
  }
  header nav {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
  header {
    height: 150px;
  }
  header li {
    display: block;
    margin: 10px 25px;
  }
  .wrapper {
    width: 96%;
  }
  header img {
    width: 20%;
    margin: 0 auto;
  }
  header nav {
    float: none;
    margin-left: 0 auto;
  }
  .contenedor-inicial {
    background: none;
    margin-top: 0;
  }
  .contenedor-secundario {
    margin-top: 30px;
  }
  .buscador {
    margin-top: 30px;
  }
  .buscador input[type="text"] {
    width: 70%;
  }
  .buscador button {
    width: 30%;
  }
  .main-title {
    display: none;
  }
  .main-title + p {
    display: none;
    font-size: 16px;
  }
  .servicios-destacados {
    margin-top: 30px;
  }
  .servicios-destacados article {
    width: 50%;
    margin-bottom: 50px;
  }
  .servicios-destacados h3 {
    font-size: 16px;
  }
  .servicios-destacados p {
    font-size: 12px;
  }
  .subtitle {
    margin-top: 0px;
  }
  .caracteristicas {
    float: none;
    width: 100%;
  }
  .caracteristicas h3 {
    font-size: 16px;
  }
  .caracteristicas p {
    font-size: 12px;
  }
  .caract-izq article {
    position: relative;
    text-align: left;
    padding-left: 70px;
    padding-right: 0;
  }
  .caract-izq article img {
    position: absolute;
    left: 0;
    top: 0;
  }
  .caracteristicas article {
    min-height: 100px;
  }
  .caracteristicas p {
    margin-top: 30px;
  }
  .imagen-mitad {
    width: 100%;
    float: none;
    margin: 50px 0;
    text-align: center;
  }
  .imagen-mitad img {
    max-width: 300px;
  }
  .contenedor-inicial-contact {
    display: none;
  }
  .datos-de-contacto textarea {
    float: none;
    width: 95%;
    margin-top: 0;
  }
  .name-sub-sub {
    float: none;
  }
}
@media (max-width: 480px) {
  .servicios-destacados article {
    float: none;
    width: 100%;
  }
  .buscador button {
    font-size: 12px;
    padding-right: 2px;
    padding-left: 2px;
  }
  .buscador input[type=text] {
    font-size: 18px;
  }
  .contenedor-secundario {
    margin-top: 30px;
    background-size: auto 150px;
  }
  .sub-dos {
    margin-top: 30px;
    padding-top: 30px;
  }
  .sub-dos + p {
    margin-bottom: 30px;
  }
}

/* PARALLAX */

@font-face {
  font-family: Starwars;
  src: local("Starwars"), url(Starjedi.ttf);
  font-weight: bold;
}

.classTitle {
  margin: 50px;
  text-align: center;
  color: #14a081;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: normal;
  opacity: 0.7;
}

.square {
  width: 100px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  border: solid 1px black;
  border-radius: 5px;
  background-color: silver;
}

#background1 {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#background2 {
  z-index: 2;
  position: absolute;
  left: 0;
  width: 100%;
}

#background3 {
  z-index: 3;
  position: absolute;
  left: 0;
  width: 100%;
}

.imageLeft {
  width: 300px;
  margin-left: 30px;
}

.imageRight {
  width: 300px;
  margin-right: 30px;
  margin-left: auto;
}

.parallaxText {
  font-family: 'Starwars' !important;
  width: 500px;
  padding-top: 40px;
  margin: 0 auto;
  font-size: 48px;
  color: white;
  letter-spacing: 2px;
}
.parallaxText p {
  font-family: 'Starwars' !important;
}

.parallaxText-img {
  width: 100%;
}
