* {
  font-size: 20px;
}
body {
  background-image: url(../img/starWarsVertical.jpg);
  background-size: 100%;
  background-position-y: 15%;
  color: white;
  font-family: 'Starwars';
}
main {
  padding-top: 40px;
}
nav ul li {
  font-size: 40px;
  padding-right: 40px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.logo {
  display: inline-block;
  margin: 20px 15px 0 15px;
}

#main-logo {
  float: left;
  margin-right: 15px;
}
.brand-name {
  color: #fff !important;
}

.cols-margin {
  margin-top: 42px;
}
.gray-text {
  color: #a5a5a5;
}
.docs-btn {
  background-color: #bc24d9;
  border-color: #8d1ba2;
  width: 300px;
  height: 72px;
  font-size: 26px;
  margin-top: 27px;
  line-height: 2em;

  &:hover,
  &:active,
  &:focus {
    background-color: #8d1ba2 !important;
    border-color: #8d1ba2 !important;
  }
}
.home2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
}
h1 {
  font-size: 130px;
  color: rgb(255, 196, 0);
}

.btn-success-personajes {
  margin: auto;
  margin-bottom: 30px;
  position: relative;
  left: 40%;
}
