@import url(../bower_components/bootstrap/dist/css/bootstrap.min.css);
/* line 1, ../sass/_main.scss */
* {
  font-size: 20px;
}

/* line 4, ../sass/_main.scss */
body {
  background-image: url(../img/starWarsVertical.jpg);
  background-size: 100%;
  background-position-y: 15%;
  color: white;
  font-family: 'Starwars';
}

/* line 11, ../sass/_main.scss */
main {
  padding-top: 40px;
}

/* line 14, ../sass/_main.scss */
nav ul li {
  font-size: 40px;
  padding-right: 40px;
}

/* line 18, ../sass/_main.scss */
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* line 23, ../sass/_main.scss */
.logo {
  display: inline-block;
  margin: 20px 15px 0 15px;
}

/* line 28, ../sass/_main.scss */
#main-logo {
  float: left;
  margin-right: 15px;
}

/* line 32, ../sass/_main.scss */
.brand-name {
  color: #fff !important;
}

/* line 36, ../sass/_main.scss */
.cols-margin {
  margin-top: 42px;
}

/* line 39, ../sass/_main.scss */
.gray-text {
  color: #a5a5a5;
}

/* line 42, ../sass/_main.scss */
.docs-btn {
  background-color: #bc24d9;
  border-color: #8d1ba2;
  width: 300px;
  height: 72px;
  font-size: 26px;
  margin-top: 27px;
  line-height: 2em;
}
/* line 51, ../sass/_main.scss */
.docs-btn:hover, .docs-btn:active, .docs-btn:focus {
  background-color: #8d1ba2 !important;
  border-color: #8d1ba2 !important;
}

/* line 58, ../sass/_main.scss */
.home2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 60px;
}

/* line 66, ../sass/_main.scss */
h1 {
  font-size: 130px;
  color: #ffc400;
}

/* line 71, ../sass/_main.scss */
.btn-success-personajes {
  margin: auto;
  margin-bottom: 30px;
  position: relative;
  left: 40%;
}

@font-face {
  font-family: Starwars;
  src: local("Starwars"), url(../fonts/Starjedi.ttf);
}
